In [1]:
import pandas as pd
import numpy as np

In [190]:
test_2 = []
p=[]
with open("result_log.txt", 'r') as f:
    for i,line in enumerate(f):
        x = line.replace(':','').strip().split()
        #print(x)
        if x[0]=='Enter':
            test.append(p)
            test_2.append(test)
            test = []
            p=[]
            class_name  = x[3].split('/')[3]
            #print(class_name)
            test.append(class_name)
        else:
            p.append(x)
print(test_2)

[['0009f04d5bced171.jpg', []], ['0068af751c04c281.jpg', [['Boat', '72%']]], ['005547ec8896223e.jpg', [['Train', '50%'], ['Boat', '80%'], ['Boat', '73%'], ['Boat', '52%'], ['Boat', '50%'], ['Boat', '49%'], ['Boat', '44%'], ['Boat', '36%'], ['Boat', '34%'], ['Boat', '33%'], ['Boat', '31%'], ['Boat', '21%']]], ['008a40758f53cef0.jpg', [['Boat', '74%'], ['Boat', '67%'], ['Boat', '48%']]], ['008e621e8edff730.jpg', [['Boat', '36%']]], ['005eacbd7488e94c.jpg', [['Boat', '96%']]], ['0026eab2f53bd687.jpg', [['Boat', '83%']]], ['004cf25099d40dc3.jpg', []], ['0079c70fc115d8db.jpg', [['Boat', '60%']]], ['002e3728932fc244.jpg', [['Boat', '92%']]]]

In [236]:
df = pd.DataFrame(test_2,columns = ['ImageId','objects'])

In [241]:
dict_2 = {}
for d in df['ImageId']:
    for i in df['objects'][df['ImageId']==d]:
        y = pd.DataFrame(i,columns=['class','percent'])
        p = y.groupby('class')['percent'].apply(lambda g: g.tolist()).to_dict()
    dict_2[d]=p

In [242]:
dict_2

{'0009f04d5bced171.jpg': {},
 '0068af751c04c281.jpg': {'Boat': ['72%']},
 '005547ec8896223e.jpg': {'Boat': ['80%',
   '73%',
   '52%',
   '50%',
   '49%',
   '44%',
   '36%',
   '34%',
   '33%',
   '31%',
   '21%'],
  'Train': ['50%']},
 '008a40758f53cef0.jpg': {'Boat': ['74%', '67%', '48%']},
 '008e621e8edff730.jpg': {'Boat': ['36%']},
 '005eacbd7488e94c.jpg': {'Boat': ['96%']},
 '0026eab2f53bd687.jpg': {'Boat': ['83%']},
 '004cf25099d40dc3.jpg': {},
 '0079c70fc115d8db.jpg': {'Boat': ['60%']},
 '002e3728932fc244.jpg': {'Boat': ['92%']}}

In [238]:
import json
r = json.dumps(dict_2,ensure_ascii=False)

In [247]:
with open('results_classified.json', 'w') as json_file:
    json.dump(dict_2,json_file)

In [254]:
solution = pd.read_json('results_classified.json').T.reset_index()

In [255]:
solution.rename(columns ={'index':'ImageId'})

,ImageId,Boat,Train
0,0009f04d5bced171.jpg,NaN,NaN
1,0068af751c04c281.jpg,[72%],NaN
2,005547ec8896223e.jpg,"[80%, 73%, 52%, 50%, 49%, 44%, 36%, 34%, 33%, ...",[50%]
3,008a40758f53cef0.jpg,"[74%, 67%, 48%]",NaN
4,008e621e8edff730.jpg,[36%],NaN
5,005eacbd7488e94c.jpg,[96%],NaN
6,0026eab2f53bd687.jpg,[83%],NaN
7,004cf25099d40dc3.jpg,NaN,NaN
8,0079c70fc115d8db.jpg,[60%],NaN
9,002e3728932fc244.jpg,[92%],NaN